
.contact-details__list{
    font-size: 3rem;
}
.contact-details__list-item{
    margin: 1rem 0;
}
.contact-details__list-item_mb{
    display: inline-block;
    margin-bottom: 2rem;
}
.fab__big{
    font-size: 5rem;
    margin-right: 1rem;
}
.fas_mr{
    margin-right: 1rem;
}

.contact-details{
    flex: 1;
}
