@media screen and (max-width: 768px) {
    .section-head{
        font-size: 3.5rem;
    }
    .hamburger{
        display: block;
    }
    .header_fixed{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgb(46 46 46)
    }
    .nav-list{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 0;
        opacity: 0;
        flex-direction: column;
        background-color: #fff;
        color: $theme-color-2;
        flex-basis: 100%;
        transition: all .2s ease-in-out;
        overflow: hidden;
        &_active{
            display: flex;
            width: 70%;
            opacity: 1;
        }
    }
    .nav-list__link{
        width: 100%;
        text-align: center;
    }
    .column{
        flex-direction: column;
    }
    .foto{
        width: 250px;
        height: 250px;
        margin-bottom: 3rem;
    }
    .about-text{
        padding: 0;
    }
    .about-goal{
        margin: 2rem 0;
        text-align: center;
    }
    .contact{
        text-align: center;
    }
    .contact-details__list{
        text-align: center;
    }
    .contact-from{
        padding-top: 1rem;
        width: 100%;
    }
    .brands-item{
        width: 45%;
    }
}
@media screen and (max-width: 520px) {
    html,
    body{
        font-size: 9px!important;
    }
    .welcome-text__head{
        font-size: 5rem;
    }
    .welcome-text__slogan{
        font-size: 3rem;
    }
    .about {
        padding: 4rem 1rem;
    }
    .about-text{
        text-align: center;
    }
    .button__about{
        margin-top: 4rem;
    }
}
@media screen and (max-width: 330px) {
    .welcome-text__slogan{
        font-size: 2.1rem;
    }
    .button{
        font-size: 2rem;
    }
    
    .brands-item{
        width: 100%;
    }
    
}